body {
   background-color: #1d1d1d;
   margin: auto;
}

h1 {
   font-family: 'Roboto', sans-serif;
   text-align: center;
   padding: 5px;
   font-size: 75px;
   color: #ff0000;
}

.one {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 5px;
  font-size: 10px;
  color: #ffffff;
}

.tracks {
   color: #ff0000;
   font-size: 16px;
   text-align: center;
   font-family: 'Roboto', sans-serif;
}

li {
  margin-bottom: 28px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  padding: 3px;
  text-align: center;
  font-style: italic;
}

.crew {
  margin: auto;
  display: block;
  box-shadow: 0 0 20px rgb(255, 0, 0);
}

p {
  padding: 16px;
  line-height: 28pt;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
}

.mag {
   font-family: 'Roboto', sans-serif;
   font-style: italic;
   text-align: center;
   padding: 16px;
   font-size: 20px; 
   color: #ff0000;
}

.logo {
   margin: auto;
   display: block;
   border-radius: 4px;
   padding: 4px;
   position: fixed;
   top: 30px;
   left: 16px;
}

.logo-two {
  justify-content: center;
  align-content: center;
  flex-direction: row;
  display: flex;
}

.logo-three {
  margin: auto;
  display: block;
}

.page-one {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  text-align: center;
  padding: 16px;
  font-size: 20px; 
  color: #ff0000;
}

.copy-right {
   color: white;
   font-size: 13px;
   text-align: center;
} 